# leftovers from rendering the report
*.log
*.aux
*.toc
*.out


# Test videos: these should be deleted from the project entirely once we have 
*.mp4
!vids/bing.mp4
!vids/ljoGs6KVGdPmZR79.mp4
!vids/spb.mp4
!vids/car.mp4D
!vids/lightning.mp4
!vids/plane.mp4
!vids/monkey.mp4

# Scraps
.build_count

# Output
vp
*.o
*.gch
build/
